<div class="dashboard">
  <div class="section section__upload">
    <h4 class="section__title">Upload new document</h4>
    <div class="upload-wrapper js-uploadWrapper">
      <input type="file" accept="pdf" class="js-fileInput" />
      <button class="button is-success js-uploadBtn" >
        Upload
      </button>
    </div>
    <div class="upload-response-wrapper js-uploadResponseWrapper is-hidden">
      <div>File <span class="js-fileName"></span> uploaded successfully. Click <a href="" target="_blank" class="js-signLink">here</a> to Sign the file.</div>
    </div>
    <div class="create-rs-wrapper js-rsWrapper is-hidden">
      <h5>Create Signature Request</h5>
      <div class="field">
        <label class="label">Recipients</label>
        <div class="control">
          <input class="input js-recipientInput" type="text" placeholder="Email address">
        </div>
        <p class="help is-info">Comma separated list of emails</p>
      </div>
      <div class="field">
        <div class="control">
          <button class="button js-createRs">Submit</button>
          <span class="has-text-primary js-createRsResponse is-hidden">Request Signature sent to the recipient(s)</span>
        </div>
      </div>
    </div>
    </div>
  </div>

  {{#if data.pendingFiles}}
    <div class="section section__rs">
      <h4 class="section__title">Requested Signatures</h4>
      <table class="section__rs__table table">
        <thead>
          <th width="10%">#</th>
          <th width="45%">Documents</th>
          <th>Action</th>
        </thead>
        <tbody>
          {{#each data.pendingFiles}}
          <tr data-id="{{this.id}}">
            <td>{{inc @index }}</td>
            <td>{{this.name}} - {{this.owner_user_id}}</td>
            <td>
              <div class="buttons has-addons">
                {{#if this.canCancel}}
                  <button class="button is-small js-cancelRs">Void</button>
                {{/if}}
                {{#if this.canRemind}}
                  <button class="button is-small js-remindRs">Remind</button>
                {{/if}}
                {{#if this.canDecline}}
                  <button class="button is-small js-declineRs">Decline</button>
                {{/if}}
              </div>
              <span class="js-infoText info-text"></span>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/if}}
</div>



