<div class="doc-container">
  <div class="doc-holder doc-holder__loggedout">
    <object class='documentView' data="{{filePath}}" type="application/pdf" height="500"></object>
  </div>
  <div class="box doc-overlay-loggedout">
    <h5>You are not logged-in</h5>
    <a class="button is-info" href="{{authUrl}}">LOGIN WITH SIGNEASY</a>
  </div>
</div>

