body {
  background-color: #fafafa;
  min-height: 100vh;
}

header {
  padding: 10px 50px;
  background-color: #008BE7;
}

header div {
  font-size: 26px;
  font-weight: 700;
  color: #fff;

}

.navbar {
  border-bottom: 1px solid #eaeaea;
}

.doc-container {
  position: relative;
  width: 75%;
  margin: 30px auto;
}

.doc-holder {
  width: 100%;
  box-shadow: inset 0px -8px 18px -3px rgba(94,94,94,.5);
}

.doc-holder__loggedout {
  filter: blur(10px);
}

.doc-holder  object {
  width: 100%;
}

.doc-overlay-loggedout {
  width: 400px;
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -200px;
  text-align: center;
  z-index: 2;
}

.doc-overlay-loggedin {
  width: 75%;
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -37.5%;
  margin-top: 15px;
  text-align: center;
}

.doc-container .button {
  margin-top: 20px;
  width: 200px;
}

.section {
  padding: 50px 30px;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
}

.section__title {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 500;
}

.section__rs__table {
  width: 100%;
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

.section__rs__table .buttons {
  display: inline-flex;
  margin-bottom: 0 !important;
}

.section__rs__table .info-text {
  font-size: 12px;
  color: #00d1b2;
}

.create-rs-wrapper {
  margin-top: 30px;
  width: 100%;
  max-width: 800px;
}
